@import './../../assets/lib/vars';
@import './../../assets/lib/mixins';

.home {
    @include flex-column-start-center;
    background: $bg_main;
    height: 100%;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .3125rem;
    width: calc(100% - .3125rem - .3125rem);
    height: 100%;
}

.section {
    background: $bg_article;
    margin-right: .3125rem;
    width: 25%;
    
    &:last-child {
        margin-right: 0;
    }

    height: 100%;
}