@import './../assets/lib/vars';
@import './../assets/lib/mixins';

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "content";
    
}

.header {
    grid-area: header; 
    @include flex-spacebetween-center;
    background-color: $bg_header;
    padding: .5rem 1.625rem;
}

.content {
    grid-area: content;
}